/* COLOR PALETTE*/
.safety-orange-blaze-orange {
    color:#fb6107ff;
  }
  .minion-yellow {
    color:#f3de2cff;
  }
  .apple-green {
    color:#7cb518ff;
  }
  .avocado {
    color:#5c8001ff;
  }
  .honey-yellow {
    color:#fbb02dff;
  } 
    @import url("https://fonts.googleapis.com/css?family=Montserrat");
    * {
          box-sizing: border-box;
        }
        body {
          font-family: 'Monsterrat', sans-serif;
          min-height: 130vh;
          background: linear-gradient(35deg, #a1eeeb 30%, #4331ec 85%);
          background: linear-gradient(35deg, #f8d60f 20%, #fc5c5c 85%);
          background: linear-gradient(65deg, #5c8001 20%,#7cb518 20%, #f3de2c 65%, #fbb02d 65%, #fb6107 85%);
        }
        canvas {
          height: 30vh;
          left: 0;
          position: absolute;
          top: 0;
          width: 100vw;
        }
        canvas {
          top: 50%;
          transform: translate(0, -50%);
        }
        .content {
          align-items: center;
          color: #fafafa;
          display: flex;
          height: 100vh;
          width: 100vw;
          position: absolute;
          justify-content: center;
          z-index: 2;
        }
        .content h1 {
          font-size: 4rem;
          text-shadow: 10px 10px 5px rgba(0,0,0,0.5);
        }
        @media (min-width: 768px) {
          .content h1 {
            font-size: 10rem;
          }
        }