/* COLOR PALETTE*/
.safety-orange-blaze-orange {
color:#fb6107ff;
}
.minion-yellow {
color:#f3de2cff;
}
.apple-green {
color:#7cb518ff;
}
.avocado {
color:#5c8001ff;
}
.honey-yellow {
  color:#fbb02dff;
}


.navbar-color {
  animation-name: backgroundColorPalette;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease linear; 
  /* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
}

@keyframes backgroundColorPalette {
  0% {
    background: #fb6107ff;
  }
  33% {
    background: #fbb02dff;
  }
  66% {
    background: #f3de2cff;
  }
  100% {
    background: #7cb518ff;
  }
 
}


.bgimg-1 {
  background-image: url('/images/parallax1.jpg');
  min-height: 100%;
}

.w3-bar,h1,button {
font-family: "Montserrat", sans-serif;
}



.ball {
  animation: bounce 1s ease infinite alternate;
  -webkit-animation: bounce 1s ease infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
} 

html {
    scroll-behavior: smooth;
  }
  

  .montserrat {
    font-family: "Montserrat";
  }
  body,h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  

  .vertical-align {
    vertical-align: middle;
  }

  .w3-circle-safety-orange-blaze-orange {
    outline: 10px solid #fb6107ff;
  }
  
  .w3-circle-honey-yellow {
    outline: 10px solid #fbb02dff;
  }

  .w3-circle-avocado {
    outline: 10px solid #5c8001ff;
  }

  .w3-circle-apple-green {
    outline: 10px solid #7cb518ff;
  }

  .ben-drop-shadow {
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
  }

  .imghover:hover {
    opacity: 50%;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .bold {
    font-weight: bold;
  }

  button {
    border-radius: 4px;
  }
  
  .fa-sign-in-alt {
    font-size: 1.25rem;
  }